Compare solar panel/farm data from REPD, FiT and OSM
====

In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
# FiT data in a csv concatenation of all three spreadsheets, missing from repo as file too large
repd = "../data/REPD/Public-Database-September-2019_edited.csv"
fit = "../data/FiT/feed-in_tariff_installation_report_30_september_2019.csv"
osm = "../data/open-street-maps/solarpv-osm-uk-data-20191117/dan_stowell_osm_analysis/compile_processed_PV_objects.csv"

In [3]:
repd_df = pd.read_csv(repd, encoding = "ISO-8859-1")

In [4]:
repd_df.head()

,Old Ref ID,Ref ID,Record Last Updated (dd/mm/yyyy),Operator (or Applicant),Site Name,Technology Type,Storage Type,Storage Co-location REPD Ref ID,Installed Capacity (MWelec),CHP Enabled,...,Appeal Withdrawn,Appeal Refused,Appeal Granted,Planning Permission Granted,Secretary of State - Intervened,Secretary of State - Refusal,Secretary of State - Granted,Planning Permission Expired,Under Construction,Operational
0,N00053B,1,07/07/2009,RWE npower,Aberthaw Power Station Biomass,Biomass (co-firing),NaN,NaN,35,No,...,NaN,NaN,NaN,03/09/2004,NaN,NaN,NaN,NaN,01/05/2006,01/05/2007
1,AA110,2,20/11/2017,Orsted (formerly Dong Energy) / Peel Energy,Hunterston - cofiring,Biomass (co-firing),NaN,NaN,170,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B0730,3,23/04/2019,Scottish and Southern Energy (SSE),Ferrybridge Multifuel 2 (FM2),EfW Incineration,NaN,NaN,70,No,...,NaN,NaN,NaN,28/10/2015,NaN,NaN,NaN,28/10/2020,01/09/2016,NaN
3,1106000,4,18/12/2003,Energy Power Resources,Thetford Biomass Power Station,Biomass (dedicated),NaN,NaN,38.5,No,...,NaN,NaN,NaN,05/05/1995,NaN,NaN,NaN,NaN,NaN,02/10/1998
4,2047000,5,29/09/2005,Agrigen,Nunn Mills Road Biomass Plant,Biomass (dedicated),NaN,NaN,8.8,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
fit_df = pd.read_csv(fit, encoding = "ISO-8859-1")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
fit_df.head()

,Extension (Y/N),Postcode,Technology,Installed capacity,Declared net capacity,Application date,Commissioning date,MCS issue date,Export status,Tariff code,Tariff description,Installation type,Country,Local authority,Government office region,Constituency,Accreditation Route,MPAN Prefix,Community/school category,LLSOA code
0,N,FK2,Photovoltaic,0.83,0.83,04/07/2019 00:00,14/06/2018 00:00,26/06/2018 11:19,Export (Deemed),PV-N/0-4/09H-1,PV (<=4kW (new build))-2018/19 - H,Domestic,Scotland,Falkirk,Scotland,Falkirk,MCS,24.0,Not Community Or School,Unknown
1,N,LE4,Photovoltaic,18.63,18.63,04/01/2019 00:00,30/11/2018 00:00,12/12/2018 13:24,Export (Deemed),PV/10-50/09L-3,PV (>10-<=50kW)-2018/19 - L,Non Domestic (Commercial),England,Leicester,East Midlands,Leicester West,MCS,11.0,Not Community Or School,E01013680
2,N,GU22,Photovoltaic,1.38,1.00,16/05/2019 00:00,20/06/2017 00:00,20/06/2017 16:37,Export (Deemed),PV-N/0-4/08L-1,PV (<=4kW (new build))-2017/18 - L,Domestic,England,Woking,South East,Woking,MCS,27.0,Not Community Or School,Unknown
3,N,BS34,Photovoltaic,5.30,3.00,21/01/2019 00:00,12/12/2016 00:00,17/12/2018 15:13,Export (Deemed),PV/4-10/09H-3,PV (4-10kW)-2018/19 - H,Domestic,England,South Gloucestershire,South West,Filton and Bradley Stoke,MCS,22.0,Not Community Or School,Unknown
4,N,HU15,Photovoltaic,3.92,3.60,26/03/2019 00:00,18/01/2019 00:00,30/01/2019 11:15,Export (Deemed),PV-R/0-4/09L-4,PV (<=4kW (retrofit))-2018/19 - L,Domestic,England,East Riding of Yorkshire,Yorkshire and The Humber,Haltemprice and Howden,MCS,23.0,Not Community Or School,E01012968

In [7]:
osm_df = pd.read_csv(osm, encoding = "ISO-8859-1")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
osm_df.head()

,objtype,id,user,timestamp,lat,lon,calc_area,calc_capacity,generator:solar:modules,location,orientation,plantref,tag_power,tag_repd:id,tag_start_date
0,node,383729355,Dan023,2019-11-07T15:49:12Z,53.045913,-1.410764,0.0,NaN,NaN,roof,NaN,NaN,generator,NaN,NaN
1,node,432708661,don-vip,2011-06-03T16:19:07Z,57.148783,-6.211683,0.0,NaN,NaN,NaN,NaN,NaN,generator,NaN,NaN
2,node,754144142,Gregory Williams,2019-09-07T05:49:05Z,51.421184,0.824588,0.0,NaN,NaN,roof,NaN,NaN,generator,NaN,NaN
3,node,914501375,doublah,2019-08-09T16:21:10Z,51.504658,-0.104954,0.0,15.0,NaN,NaN,NaN,NaN,generator,NaN,2008
4,node,916163617,ehm1806,2012-12-14T07:16:28Z,51.464968,-0.073252,0.0,NaN,NaN,NaN,NaN,NaN,generator,NaN,NaN

How many of the REPD entries are already in OSM?
====

In [9]:
len(repd_df)

5686

In [10]:
osm_df['tag_repd:id'].notnull().sum()

893

Find REPD entries not already in OSM?
====

Can we use coordinates?

In [11]:
from bng_to_latlon import OSGB36toWGS84 as convert

In [12]:
convert(538890, 177320)

(51.47779538331092, -0.0014016837826672265)

In [13]:
# Convert each BNG coordinate to lat and lon
for index, row in repd_df.iterrows():
    # Ignore any rows that don't have an X and Y coordinate
    if type(row['X-coordinate']) == str and type(row['Y-coordinate']) == str:
        x = int(row['X-coordinate'].replace(',', ''))
        y = int(row['Y-coordinate'].replace(',', ''))
    lat, lon = convert(x, y)
    repd_df.set_value(index,'latitude', lat)
    repd_df.set_value(index,'longitude', lon)
repd_df.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

,Old Ref ID,Ref ID,Record Last Updated (dd/mm/yyyy),Operator (or Applicant),Site Name,Technology Type,Storage Type,Storage Co-location REPD Ref ID,Installed Capacity (MWelec),CHP Enabled,...,Appeal Granted,Planning Permission Granted,Secretary of State - Intervened,Secretary of State - Refusal,Secretary of State - Granted,Planning Permission Expired,Under Construction,Operational,latitude,longitude
0,N00053B,1,07/07/2009,RWE npower,Aberthaw Power Station Biomass,Biomass (co-firing),NaN,NaN,35,No,...,NaN,03/09/2004,NaN,NaN,NaN,NaN,01/05/2006,01/05/2007,51.387471,-3.406610
1,AA110,2,20/11/2017,Orsted (formerly Dong Energy) / Peel Energy,Hunterston - cofiring,Biomass (co-firing),NaN,NaN,170,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.735807,-4.888574
2,B0730,3,23/04/2019,Scottish and Southern Energy (SSE),Ferrybridge Multifuel 2 (FM2),EfW Incineration,NaN,NaN,70,No,...,NaN,28/10/2015,NaN,NaN,NaN,28/10/2020,01/09/2016,NaN,53.716417,-1.281885
3,1106000,4,18/12/2003,Energy Power Resources,Thetford Biomass Power Station,Biomass (dedicated),NaN,NaN,38.5,No,...,NaN,05/05/1995,NaN,NaN,NaN,NaN,NaN,02/10/1998,52.448628,0.725273
4,2047000,5,29/09/2005,Agrigen,Nunn Mills Road Biomass Plant,Biomass (dedicated),NaN,NaN,8.8,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.230195,-0.881341

Compare coordinates for REPD entries in OSM that we know are already there
----

In [14]:
def get_float(x):
    if type(x) == str:
        return float(x.split(';')[0])  # TODO: this ignores all but 1st tagged repd id
    return x
osm_df['tag_repd:id'] = osm_df['tag_repd:id'].apply(lambda x: get_float(x))

In [15]:
osm_df['tag_repd:id'].notnull().sum()

893

In [16]:
repd_osm_merge_df = pd.merge(repd_df, osm_df, left_on='Ref ID', right_on='tag_repd:id')

In [17]:
# should be the same as the number of tag_repd:id in osm_df
len(repd_osm_merge_df)

892

In [18]:
mean_lon_offset = st.mean(repd_osm_merge_df['lon'] - repd_osm_merge_df['longitude'])
max_lon_offset = max(repd_osm_merge_df['lon'] - repd_osm_merge_df['longitude'])
mean_lat_offset = st.mean(repd_osm_merge_df['lat'] - repd_osm_merge_df['latitude'])
max_lat_offset = max(repd_osm_merge_df['lat'] - repd_osm_merge_df['latitude'])
print(mean_lon_offset, max_lon_offset, mean_lat_offset, max_lat_offset)

-0.0005817911083584437 0.6631959126463869 0.0017672384138131346 1.3425169030472546

How many additional finds in OSM can we make, which don't have the REPD id already?
----
Check which rows in osm_df have a lat and lon within the max offsets for an repd row's lat and lon and note if the row has a 'tag_repd:id' that is still NaN, which means we could update osm_df with the corresponding repd row's 'Ref ID'.

In [19]:
distance = max(mean_lon_offset, max_lon_offset, mean_lat_offset, max_lat_offset)
distance

1.3425169030472546

In [20]:
osm_df[['lat', 'lon', 'tag_repd:id']].head()

         lat       lon  tag_repd:id
0  53.045913 -1.410764          NaN
1  57.148783 -6.211683          NaN
2  51.421184  0.824588          NaN
3  51.504658 -0.104954          NaN
4  51.464968 -0.073252          NaN

In [21]:
repd_df[['latitude', 'longitude', 'Ref ID']].head()

    latitude  longitude  Ref ID
0  51.387471  -3.406610       1
1  55.735807  -4.888574       2
2  53.716417  -1.281885       3
3  52.448628   0.725273       4
4  52.230195  -0.881341       5

In [22]:
for osm_index, osm_row in osm_df.head().iterrows():
    for repd_index, repd_row in repd_df.head().iterrows():
        if abs(repd_row['latitude'] - osm_row['lat']) < max_lat_offset and abs(repd_row['longitude'] - osm_row['lon']) < max_lon_offset:
            osm_df.at[osm_index,'tag_repd:id'] = repd_row['Ref ID']

In [25]:
osm_df[['lat', 'lon', 'tag_repd:id']].head()

         lat       lon  tag_repd:id
0  53.045913 -1.410764          5.0
1  57.148783 -6.211683          NaN
2  51.421184  0.824588          4.0
3  51.504658 -0.104954          NaN
4  51.464968 -0.073252          NaN

In [23]:
# for osm_index, osm_row in osm_df.iterrows():
#     for repd_index, repd_row in repd_df.iterrows():
#         if abs(repd_row['latitude'] - osm_row['lat']) < max_lat_offset and abs(repd_row['longitude'] - osm_row['lon']) < max_lon_offset:
#             osm_df.set_value(osm_index,'tag_repd:id', repd_row['Ref ID'])

In [24]:
# df = osm_df.assign(a=1).merge(repd_df.assign(a=1), on='a')

# df = df[((df.latitude - df.lat).abs() < max_lat_offset) & 
#         ((df.longitude - df.lon).abs() < max_lon_offset)]